<div class="summary-container">
    <div class="col-xs-3 summary-element">
        <div class="row"><span class="numeric-positive">$212</span></div>
        <div class="row"><span class="label">Per&nbsp;Month</span></div>
    </div>
    <div class="col-xs-3 summary-element">
            <div class="row"><span class="numeric-positive">45%</span></div>
    </div>
    <div class="col-xs-3 summary-element">
            <div class="row"><span class="numeric-positive">2 Months</span></div>
            <div class="row"><span class="label">To Target</span></div>
    </div>
    <div class="col-xs-3 summary-element summary-element-last">
            <div style="margin-top: 15px;">
                <span class="numeric-negative">12%&nbsp;</span>
                <img src="../../assets/down-arrow-red.png" class="icon-small">
            </div>
    </div>   
</div>